<% include head %>

<h2>Real time web chat</h2>

<div class='row-fluid'>
  <div class='span2 well'>
    <h4>online</h4>
    <ul>
      <li>jack</li>
      <li>tom</li>
    </ul>
  </div>

  <div class='span10'>
    <div id='chat_content' class='well'>
      <h3>chat content</h3>
      <div id='status'>
      </div>
    </div>
    <div class='input-append'>
      <input type="text" id='chat_input' class='input-xxlarge' />
      <button id='chat_button' class='btn'>Send</button>
    </div>
  </div>
</div>

<script type="text/javascript" src='/javascripts/jquery-1.9.1.min.js'></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript">
  var server = io.connect('http://' + window.location.hostname + ':3000');

  nickname = prompt("What is your nickname?");
  $('#status').html("<div class='alert alert-success'>Connected to chattr</div>");
  server.emit('join', nickname);

  $('#chat_button').click(function() {
    var message = $('#chat_input').val();
    server.emit('messages', message);
    insertMessage("me: " + message);
    $('input#chat_input').val('');
  });
  server.on('messages', function(data) {
    insertMessage(data);
  });

  function insertMessage(data){
    $('div#chat_content').append("<div class='alert'>" + data + "</div>");
  };
</script>

<% include footer %>
