extends layout

block content
  h1= title
  p Welcome to #{title}



  script(src='/socket.io/socket.io.js')
  script(type='text/javascript')
    //这边的url真正用时需修改为确切地址
    var server = io.connect('http://localhost:3000');
    server.on('messages', function (data) {
      alert(data.hello);
    });
